.card {
  cursor: "pointer";
  width: 100%;
  border-radius: 10px;
  background-color: rgb(253, 253, 243);
  // background-color: #f0f0f0;
  color: rgb(46, 9, 46);

  .card-content {
    .card-media {
      border-radius: 10px;
      width: 100%;
      // padding-top: 100%;
    }
    .content-box {
      margin-top: 10px;
    }
  }
}
